body {
    overflow-x: hidden;
    font-family: "Ubuntu";
}

.main_content {
    height: 600px;
    width: 100%;
    top: 105px;
    right: 5px;
    position: fixed;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}


.top_bar {
    background-color:#131921;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    position: fixed;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

/* table styling */

table {
    width: 100%;
}

td {
    max-width: 300px;
    height: 150px;
    border: 1px solid #000;
    white-space: nowrap;
    overflow-wrap: break-word;
}

/* logo stuff */
.logo {
    height: 60px;
    width: 250xp;
    display: flex;
    flex-direction: column;
}

.logo_top_font {
    font-size: 20px;
    font-weight: 400px;
    text-transform: lowercase;
    color: #fff;
}

#arrow {
    color: #febd69;
}

.logo_bottom_font {
    font-size: 23px;
    font-weight: 600px;
    text-transform: lowercase;
    color: #fff;
    letter-spacing: 2px;
}

/* elements within our 'search bar' */

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #414141;
}

/* all search bar stuff */

#filter {
    background-color: #f3f3f3;
    height: 40px;
    width: 100px;
    border: 1px solid #f3f3f3;
    border-right: 1px inset #ababab;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
}

#inputfield {
    background-color: #fff;
    height: 40px;
    width: 400px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: 0;
    border-right: 0;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 8px;
}

#clicky {
    background-color: #febd69;
    height: 40px;
    width: 60px;
    border: 1px solid #f3f3f3;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
    color: #272727;
}

/* about on-click stuff */
.aboutclick {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: fit-content;
}

#firstword {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
}

#secondwords {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}