<!DOCTYPE html>
<html>
    <head>
        <title>Table of 5.0 Ratings</title>
        <link href="/static/index.css" rel="stylesheet" />
        <script svg="/dynamic/dropdown.js"></script>
    </head>
<body>
        <div class="container1">
            <div class ="search-bar">
                <div id="select">
                    <p id="selectText"> All Products</P>
                    <img src="./static/arrow.png">
                    <ul id="list">
                        <li class="options">All Products</li>
                        <li class="options">Product Name</li>
                        <li class="options">Rating</li>
                        <li class="options">Description</li>
                        <li class="options">Category</li>
                    </ul>  
                </div>
                <input type="text" id="inputfield" placeholder="Search in all categories">
            </div>
        </div>

    <div>
	    <table>
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Average Rating from Reviews</th>
				<th>Description</th>
				<th>Product Info</th>
			</tr>
		</thead>
		<tbody id="tableattr">
			{% for x in range(1, len) %}
				<tr>
					<td>{{ datas[x][2] }}</td>
					<td>{{ datas[x][8] }}</td>
					<td>{{ datas[x][11] }}</td>
					<td>{{ datas[x][12] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	    </table>
    </div>
</body>
</html>