<!DOCTYPE html>
<html>
<head>
    <title>Table of 5.0 Ratings</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Average Rating from Reviews</th>
                <th>Description</th>
                <th>Product Info</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <tr>
                    <td>{{ datas[1][2] }}</td>
                    <td>{{ datas[1][8] }}</td>
                    <td>{{ datas[1][11] }}</td>
                    <td>{{ datas[1][12] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>